---
const currentYear = new Date().getFullYear();
---
<footer class="bg-black/20 backdrop-blur-sm text-black/70 dark:text-white/70 py-4 mt-8">
  <div class="container mx-auto text-center">
    <p>&copy; {currentYear} Dani7759.</p>
  </div>
</footer>