---
const currentYear = new Date().getFullYear();
---
<footer class="bg-black/20 backdrop-blur-sm text-black/70 dark:text-white/70 py-4 mt-8 w-full">
  <div class="flex flex-row container lg:w-[980px] xl:w-[1000] mx-auto justify-between">
    <p>&copy; {currentYear} Dani7759</p>
    <a href="https://www.linkedin.com/in/danieljulcamorohuanca/" target="_blank" class="hover:text-black dark:hover:text-white">Contacto</a>
  </div>
</footer>