---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/dev-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>{title}</title>
    <script is:inline>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body class="w-full font-lexend min-h-screen bg-gradient-to-br from-teal-100 via-blue-300 to-cyan-200/80 dark:bg-gradient-to-br dark:from-[#120f28] dark:via-[#2b0b41] dark:to-[#1e5351] text-gray-900 dark:text-white transition-colors duration-300 overflow-x-hidden">
    <div class="w-full min-h-screen bg-gradient-radial from-transparent via-black/30 to-black/70">
      <slot />
    </div>
  </body>
</html>

<!-- <style>
  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-from) 0%, var(--tw-gradient-via) 50%, var(--tw-gradient-to) 100%);
  }
</style> -->